.inputName,.inputPass {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    /*background-color: #ba3925;*/
}
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 800px;
}

.loginSubmit {
    border-radius: 10px;
    border: 2px solid deepskyblue;
    color: blue;
    width: 115px;
    height: 40px;
    margin: 5px 20px 5px 20px;
    letter-spacing: 0.5px;
}
.loginSubmit:hover {
    background-color: blueviolet;
    color: white;
}


.loginContainer input[type="submit"] {
    width: 100px;
}

input::placeholder {
    transition: opacity 0.3s ease;
}

input:focus::placeholder {
    opacity: 0;
}