/*body {*/
/*    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    line-height: 1.42857143;*/
/*    color: #333333;*/
/*    background-color: #fff;*/
/*}*/

/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*div {*/
/*    unicode-bidi: isolate;*/
/*}*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h2, .h2 {
    font-size: 30px;
}

.confirmButtonSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    .myP {
        color: blue;
        margin-left: 11px;
        width: 250px;
        text-align: center;
    }
}
.buttonAllOpt {
    border-radius: 5px;
    border: 2px solid deepskyblue;
    color: blue;
    width: 100px;
    height: 30px;
    margin: 5px 20px 5px 20px;
    letter-spacing: 0.5px;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.buttonAllOpt:hover {
    background-color: blueviolet;
    color: white;
}


